*{
    margin: 0;
    padding: 0;
  
  }
  .wrapper{
      width: 1170px;
      margin: auto;
  }
  header{
      background: linear-gradient(rgba(63, 116, 175, 0.6),rgba(26, 80, 131, 0.6)),url(https://images.unsplash.com/photo-1445019980597-93fa8acb246c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: fixed;
      -webkit-background-size: cover;
      background-position: center center;
      position: relative;
  }
  .nav-area{
      float: right;
      list-style: none;
      margin-top: 30px;
  }
  .nav-area li a{
      color: #fff;
      text-decoration: none;
      padding: 5px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
  
  }
  .nav-area li a:hover{
      background: #fff;
      color: #333;
  
  }
  .welcome-text{
      position: absolute;
      width: 600px;
      height: 200px;
      margin: 20% 30%;
      text-align: center;
      justify-content: center;
      color: aliceblue;
  
  }
  .btn{
      height: 60px;
      width: 100px;
      border-radius: 80px;
    
  }