

    <div class="container2">
    <div class="head">

    </div>
    <div class="alrt"></div>

  <div class="lable">
      <p class="p_alrt"></p>
    <div class="centerdiv">
        <img src="https://img.icons8.com/ios/50/000000/user-male-circle.png" id="profilepic">
        <h2>SIGN-IN</h2>
        <form>
          <div>
              <input type="text" class="inputbox" placeholder="Username"  [(ngModel)]="email" name="email" >
              <br>
              <br>
       
             <input type="password"  class="inputbox" placeholder="Password" [(ngModel)]="password" name="password" >
             <br>
              <br>

              <div>
                <button type="submit" class="logbtn" (click)="Login()">LOGIN</button>
              </div>
              <br>
        
              <DIV class="btnforgot">
                  <button type="submit" class="logbtn" routerLink="/register" (click)="Register()">Create new account...</button>
          </DIV>
          </div>
        </form><BR>
          
    </div>

     
  </div>
  <!-- <div class="now">
    <div class="mov"><button class="logbtn" (click)="Login()">Login Now</button></div></div>
  </div> -->
  
