

  <div class="container">
    <div class="container2">
    <div class="head">

    </div>
    <div class="alrt"><p class="p_alrt">SIGNUP:</p></div>

  <div class="labl">

      <input type="text"  placeholder="Username"  [(ngModel)]="email" style="height: 10%; margin: 5%;width: 70%;margin-left: 15%; background-color: transparent;">
       <br>

      <input type="password"  placeholder="Password" [(ngModel)]="password" style="height: 10%; margin: 5%; width: 70%;margin-left: 15%;background-color: transparent;">

  </div>
  <div class="now">
    <div class="mov"><button class="logbtn" (click)="Login()">Login Now</button></div></div>
  </div>
    </div>
