

<div class="container2">
    <div class="head">

    </div>
    <div class="alrt"></div>

  <div class="lable">
      <p class="p_alrt"></p>
    <div class="centerdiv">
        <img src="https://img.icons8.com/ios/50/000000/user-male-circle.png" id="profilepic">
        <h2>REGISTER</h2>
        <form>
          <div>
              <input type="text" class="text" [(ngModel)]="email" name="email"  placeholder="Create Email">
              <br>
              <br>
       
              <input type="password" class="text" [(ngModel)]="password" name="password"  placeholder="New Password">
             <br>
              <br>

              <div>
               
            <button class="signin" (click)="Register()"> Sign up</button>
              </div>
              <br>
           
          </div>
        </form><BR>
          
    </div>

     
  </div>
  <!-- <div class="now">
    <div class="mov"><button class="logbtn" (click)="Login()">Login Now</button></div></div>
  </div> -->
  

 


