<!-- <body>

    <div class="nav">
      <a class="nav_btn" href="#">&#9776</a>
      <a href="#"><p>Sign out</p></a>
    
    </div>
    
    <div class="banner">
    
      <p class="tagline">Proudly South African hotel One of the proudly</p>
    
    <div class="row">
      <div class="row_cell">
        <p>Standard Rooms</p>
        <img src="" width="150" height="150"><br>
        <button>View</button>
      </div>
      <div class="row_cell">
        <p>Exclusive Rooms</p>
        <img src="" width="150" height="150"><br>
        <button>View</button>
    
      </div>
        <div class="row_cell">
        <p>Sharing Rooms</p>
        <img src="" width="150" height="150"><br>
        <button>View</button>
    
      </div>
      <div class="row_cell">
        <p>Executive Rooms</p>
        <img src="" width="150" height="150"><br>
        <button>View</button>
      </div>
    
        <div class="row_cell">
        <p>Executive Rooms</p>
        <img src="" width="150" height="150"><br>
        <button>View</button>
      </div>
    
        <div class="row_cell">
        <p>Executive Rooms</p>
        <img src="" width="150" height="150"><br>
        <button>View</button>
      </div>
    </div>
    </div>
    
    </body>
<form>
  <div class="form-group">
    <input type="file">
    <input type="text" class="form-control-file" [(ngModel)]="room.name" placeholder="Room features" name="name">
    <input type="text" class="form-control-file" [(ngModel)]="room.feautures" placeholder="Room features" name="feature">
    <input type="text" class="form-control-file" [(ngModel)]="room.price" placeholder="Price" name="price">
    <input type="text" class="form-control-file" [(ngModel)]="room.description" placeholder="Description" name="description">
    <input type="text" class="form-control-file" [(ngModel)]="room.hotelName" placeholder="Hotel name" name="hotel">
    <button (click)="addRoom(room)">Add room</button>
  </div>
</form> -->


<body>
<div id="header">
<div id="nav">
<div id="section">
  
</div>

</div>

</div>




  </body>