<body>

<header>
  <img class="logo" src="" alt="">
  <nav>
    <ul class="nav_Links">
      <li><a href="#">Profile</a></li>

    </ul>
  </nav>
  <a class="cta" href="#"><button>Sign Out</button></a>
</header>



  <form>


    <div class="cardcontainer">
        <div class="picture" *ngFor="let item of rooms">
            <div class="img">
              <img src="{{item.Pic}}">
            </div>

            <div class="data">
              <p>{{item.Description}}</p>
              <p> {{item.Name}}</p>
              <p> R{{item.Price}}</p>
              <button [routerLink]="['/view', item.key]">View</button>
            </div>


          </div>
    </div>
<br>
  <br>
<div class="add">

  </form>

  <!--
<header>
  <div class="wrapper">


  <div class="logo">


  </div>
  <ul class="nav-area">
    <li><a href="">Profile</a></li>
    <li><a href="">Signout</a></li>
  </ul>
</div>
<div class="welcome-text">
  <h2>Experiance the best hotel Experiance...</h2> <br>
  <button class="btn">Add Room</button>
</div>

</header> -->
</body>

<button style="margin-top: 5%" [routerLink]="['/add']">Add room</button>
