#header{
    width: 100%;
    margin: auto;
    background-color: blue;
    display: flex;
    height:100px;
}
.flex-container {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
    height: 88vh;
    
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 10px;
    height: 300px;
    text-align: center;
    line-height: 40px;
    font-size:20px;
  }