*{
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "hd hd "
                        "sidebar main"
                        "footer footer"
}

header,
aside,
main,
footer{
    padding: 16px;
    text-align: center;
}
header{
    background: purple;
    grid-area: hd;

}
aside{
    background: orange;
    grid-area: sidebar;
    height: 70vh;
    display: grid;
    align-content: center;
    text-align: center;
    



}
main{
    grid-area: main;
 display: flex;;
    align-content: center;
    text-align: center; 
    
}
footer{
    background: black;
    grid-area: footer;
}
.navigation-List{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.card-text{
    align-content: center;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: column;
  
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 50px;
  }